# Results directory
results/*

# Files for snakemake
.snakemake/

# Input files to pipeline
bin/*.tsv

# Ignore gathered resources
resources/*.fa*
resources/*.gtf*
resources/*.bed*
resources/*.log
resources/*.txt
resources/star_index_*
